@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #82c0cc;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 70vw;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.description {
  color: #fff;
  margin: 20px 0px;
  text-align: center;
}
.card {
  width: 50%;
  border: 1px solid black;
  margin-bottom: 30px;
}
.container img {
  display: block;
  width: 50%;
  max-height: 100%;

  animation: boxshadow 3s ease-in 0.3s infinite forwards;
  border: none;
  transition: 0.4s ease-in;
}

img.border {
  border: 1px solid black !important;
}
#loader {
  width: 75px;
  display: none;
  outline: none;
  border: 0;
  margin: 20px auto;
}

.likediv{
  display: none;
  justify-content: center;
  width: 50%;
  padding-block: 10px;
  background-color: #fff;
  animation: boxshadow 3s ease-in 0.3s infinite forwards;
  margin-bottom: 30px; 
  gap: 10px;
  font-size: 20px;
}


@media screen and (max-width: 650px) {
  .container img {
    width: 100%;
  }
  .likediv{
    width: 100%;
  }
  #loader {
    width: 50px;
  }
}
@keyframes boxshadow {
  0% {
    box-shadow: 10px 12px 20px cyan;
  }

  100% {
    box-shadow: 10px 6px 20px cyan;
  }
}
